.dropdown {
    position: relative;

    .dropdown-menu {
        position: absolute;
        background-color: #fff;
        padding: 1rem;
        min-width: max-content;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }

    input[type="checkbox"]:checked+.dropdown-menu {
        display: block;
    }
}