div#free {

    top: 2700px;
    h4 {
        font-size: 24px;
        color: #003459;
    }

    .flex {
        padding: 3rem 3rem;
    }

    .view {
        padding: 11px 0;
        text-align: center;
        width: 128px;
        height: 41px;
        border: 1.5px solid #003459;
        border-radius: 45px;
    }

    .umumiy {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        gap: 3rem;


        .cart {
            background: #fff;
            width: 280px;
            height: 378px;
            padding: 8px 8px 0px;
            border-radius: 12px;

            h5{
                font-size: 16px;
            }
            .farme{
                display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 6px 10px 4px;
                    gap: 2px;
                
                    width: 248px;
                    height: 34px;
                    background: #FCEED5;
                    border-radius: 8px;
                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;

            }

            .img {
                border-radius: 12px;
            }
        }
    }



}